services:
  metube:
    build: .
    container_name: metube2
    restart: unless-stopped
    environment:
      - 'GID=1002'
      - 'YTDL_OPTIONS={"ignoreerrors":true, "writethumbnail":true, "writesubtitles":true,"subtitleslangs":["en","-live_chat"],"updatetime":false,"postprocessors":[{"key":"FFmpegMetadata","add_metadata":true,"add_chapters":true,"add_infojson":"if_exists","add_chapters":true}, {"key":"Exec","exec_cmd":"chmod 0664","when":"after_move"},{"key":"FFmpegEmbedSubtitle","already_have_subtitle":false},{"key":"EmbedThumbnail"}]}'
      - 'OUTPUT_TEMPLATE=%(playlist_title&Playlist |)S%(playlist_title|)S%(playlist_uploader& by |)S%(playlist_uploader|)S%(playlist_autonumber& - |)S%(playlist_autonumber|)S%(playlist_count& of |)S%(playlist_count|)S%(playlist_autonumber& - |)S%(uploader,creator|UNKNOWN_AUTHOR)S - %(title|UNKNOWN_TITLE)S - %(release_date>%Y-%m-%d,upload_date>%Y-%m-%d|UNKNOWN_DATE)S.%(ext)s'
      - 'TEMP_DIR=/tmp/metube_tmp'
      - 'DOWNLOAD_MODE=concurrent'
    ports:
      - "8081:8081"
    volumes:
      - /lump/share/media/Adult/downloads/metube:/downloads

