services:
  metube:
    build:
      context: .
      dockerfile: Dockerfile.local-yt-dlp
    container_name: metube2
    restart: unless-stopped
    environment:
      - 'GID=1002'
      - 'OUTPUT_TEMPLATE=%(playlist_title&Playlist |)S%(playlist_title|)S%(playlist_uploader& by |)S%(playlist_uploader|)S%(playlist_autonumber& - |)S%(playlist_autonumber|)S%(playlist_count& of |)S%(playlist_count|)S%(playlist_autonumber& - |)S%(uploader,creator& - |)S%(uploader,creator|)S%(title& - |)S%(title|)S%(release_date>%Y-%m-%d,upload_date>%Y-%m-%d|)S.%(ext)s'
      - 'TEMP_DIR=/tmp/metube_tmp'
      - 'DOWNLOAD_MODE=concurrent'
      - 'YTDL_OPTIONS_FILE=/app/.config/yt-dlp/conf'
    ports:
      - "8081:8081"
    volumes:
      - /lump/share/media/Adult/downloads/metube:/downloads

